<dx-data-grid id="gridContainer"
    [dataSource]="listDevs"
    [remoteOperations]="false"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [showBorders]="true">
    <dxi-column dataField="Nombre" ></dxi-column>
    <dxi-column dataField="Apodo" ></dxi-column>
    <dxi-column dataField="Proyecto"></dxi-column>
    <dxi-column dataField="Acciones"
        cellTemplate="cellTemplate"></dxi-column>

    <div *dxTemplate="let data of 'cellTemplate'">
      <dx-button type="default" text="Editar" (onClick)="editDev(data)"></dx-button>
      <dx-button type="danger" text="Eliminar" (onClick)="deletDev(data)" ></dx-button>
    </div>
</dx-data-grid>
