<div class="container">
<form (submit)="guardar($event)">
<dx-form  id="form"
    [(formData)]="selectedDev">
    <dxi-item dataField="Nombre"></dxi-item>
    <dxi-item dataField="Apodo"></dxi-item>
    <dxi-item dataField="Proyecto"></dxi-item>
    <dxi-item
          itemType="button"
          [buttonOptions]="{
            text: 'Guardar',
            type: 'success',
            useSubmitBehavior: true
        }">
        </dxi-item>
</dx-form>
</form>
</div>
